<div class="container">
  <div class="row">
    <!-- 错误提示 -->
    <br><br>
    <div class="col-md-offset-3 col-md-6">
      <% if flash[:notice] %>
        <div class="alert alert-success global-notification">
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger global-notification">
          <p><%= alert %></p>
        </div>
      <% end %>
      <% unless resource.errors.empty? %>
        <div class="alert alert-danger global-notification">
          <p><%= resource.errors.full_messages.first %></p>
        </div>
      <% end %>
    </div>

    <!-- 注册 -->
    <div class="col-md-offset-3 col-md-6">
      <div class="page-header">
        <h1>注册</h1>
      </div>
    </div>

    <!-- 表单 -->
    <div class="col-md-offset-3 col-md-6">
      <div class="form-horizontal center-block" style="width: 90%">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label '用户名' %>
            <%= f.text_field :username, required: true, autofocus: true, autocomplete: 'username', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label '密码' %>
            <%= f.password_field :password, required: true, autocomplete: 'current-password', class: 'form-control' %>
            <% if @minimum_password_length %>
              <small class="form-text text-muted">密码长度应不少于6位</small>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label '确认密码' %>
            <%= f.password_field :password_confirmation, required: true, autocomplete: 'current-password', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit '注册', class: 'btn btn-primary' %>
          </div>
        <% end %>
        <div><%= render 'devise/shared/links' %></div>
      </div>
    </div>
  </div>
</div>