<div class="container">
  <div class="row clearfix">
    <% if (not user_signed_in?) || (user_signed_in? && current_user.status == 0) %>
      <!-- 欢迎 -->
      <div class="col-md-12 column">
        <div class="page-header">
          <h1>欢迎来到 WXY 在线商城</h1>
        </div>
      </div>

      <!-- 轮播图 -->
      <div class="col-md-12 column">
        <div class="carousel slide" id="carousel-480866">
          <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-480866">
            </li>
            <li data-slide-to="1" data-target="#carousel-480866">
            </li>
            <li data-slide-to="2" data-target="#carousel-480866" class="active">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <%= image_tag("static/welcome_slide_1.jpg")%>
              <div class="carousel-caption">
                <h4></h4>
                <p></p>
              </div>
            </div>
            <div class="item">
              <%= image_tag("static/welcome_slide_2.jpg")%>
              <div class="carousel-caption">
                <h4></h4>
                <p></p>
              </div>
            </div>
            <div class="item active">
              <%= image_tag("static/welcome_slide_3.jpg")%>
              <div class="carousel-caption">
                <h4></h4>
                <p></p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-480866" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-480866" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>

      <!-- 热门商品 -->
      <div class="col-md-12 column">
        <div class="page-header">
          <h2>热门商品</h2>
        </div>
      </div>
      <div class="col-md-12 column">
        <div class="container">
          <% @products.each do |product| %>
            <div class="col-md-3">
              <div class="card" style="height: fit-content">
                <%= image_tag(product.url, class: "card-img-top", width: "90%") %>
                <div class="card-body">
                  <h4 class="card-title" style="height: 60px"><%= product.product_name %></h4>
                  <h4 class="card-text text-danger">售价：<%= number_with_precision(product.price, :precision => 2) %> ¥</h4>
                  <%= link_to "详情", product, class:"btn btn-primary"%>
                </div>
              </div>
              <br><br>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif user_signed_in? && current_user.status == 1 %>
      <!-- 欢迎 -->
      <div class="col-md-12 column">
        <div class="page-header">
          <h1>您好，管理员</h1>
        </div>
      </div>

      <!-- 管理 -->
      <div class="col-md-12 column">
        <div class="col-md-6 column">
          <a href=<%= products_url %>>
            <button class="btn-link" style="text-decoration: none">
              <p><%= image_tag("static/welcome_product_manage.jpg", style: "width: 80%")%></p>
              <h4>商品管理</h4>
            </button>
          </a>
        </div>
        <div class="col-md-6 column">
          <a href=<%= orders_url %>>
            <button class="btn-link" style="text-decoration: none">
              <p><%= image_tag("static/welcome_order_manage.jpg", style: "width: 80%")%></p>
              <h4>订单管理</h4>
            </button>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>