<div class="container">
  <div class="row clearfix">
    <!-- 我的收藏 -->
    <div class="col-md-12 column">
      <div class="page-header">
        <h2>我的收藏</h2>
      </div>
    </div>

    <!-- 列表 -->
    <% if @products.size == 0 && current_user.status == 0 %>
      <div class="col-md-12 column">
        <div class="text-warning">收藏夹空空如也</div>
      </div>
    <% end %>
    <% if current_user.status == 1 %>
      <div class="col-md-12 column">
        <div class="text-warning">您是管理员，请退出登录后以普通用户身份登录再访问收藏夹</div>
      </div>
    <% end %>
    <div class="col-md-12 column">
      <div class="container" style="padding-left: 0">
        <% @products.each do |product| %>
          <div class="col-md-3" style="margin-bottom: 20px">
            <div class="card" style="height: fit-content">
              <%= image_tag(product.url, class: "card-img-top", width: "100%") %>
              <div class="card-body">
                <h4 class="card-title" style="height: 60px"><%= product.product_name %></h4>
                <h4 class="card-text text-danger">售价：<%= number_with_precision(product.price, :precision => 2) %> ¥</h4>
                <% if product.status == 0 %>
                  <%= link_to "详情", product, class:"btn btn-primary pull-left"%>
                <% else %>
                  <%= link_to "已下架", product, class:"btn btn-primary pull-left disabled" %>
                <% end %>
                <% @collect = Collect.find_by(user_id: current_user.id, product_id: product.id) %>
                <%= button_to "取消收藏", @collect, method: :delete, class: 'btn btn-danger pull-right' %>
              </div>
            </div>
            <br><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>