<div class="container">
  <div class="row clearfix">
    <!-- 全部商品 / 商品管理 -->
    <div class="col-md-12 column">
      <div class="page-header">
        <% if (not user_signed_in?) || (user_signed_in? && current_user.status == 0) %>
          <h2>全部商品</h2>
        <% else %>
          <h2>商品管理</h2>
        <% end %>
      </div>
    </div>

    <!-- 列表 -->
    <% if @products.size == 0 %>
      <div class="col-md-12 column">
        <div class="text-warning">暂时没有商品哦</div>
      </div>
    <% end %>
    <div class="col-md-12 column">
      <div class="container" style="padding-left: 0">
        <% @products.each do |product| %>
          <% if ((not user_signed_in?) || (user_signed_in? && current_user.status == 0)) && product.status == 1 %>
            <% next %>
          <% end %>
          <div class="col-md-3" style="margin-bottom: 20px">
            <div class="card" style="height: fit-content">
              <%= image_tag(product.url, class: "card-img-top", width: "100%") %>
              <div class="card-body">
                <h4 class="card-title" style="height: 60px"><%= product.product_name %></h4>
                <h4 class="card-text text-danger">售价：<%= number_with_precision(product.price, :precision => 2) %> ¥</h4>
                <!-- 详情 / 已下架 -->
                <% if product.status == 0 %>
                  <%= link_to "详情", product, class:"btn btn-primary pull-left"%>
                <% else %>
                  <%= link_to "已下架", product, class:"btn btn-primary pull-left disabled" %>
                <% end %>
                <% if user_signed_in? && current_user.status == 1 %>
                  <!-- 下架 / 上架 -->
                  <% if product.status == 0 %>
                    <form action=<%= product_update_status_path %> method="post" role="form">
                      <%= hidden_field_tag :product_id, product.id %>
                      <input type="hidden" id='status' name='status' value='1'>
                      <%= button_to "下架", product_update_status_path, method: :post, class:"btn btn-danger pull-right" %>
                    </form>
                  <% else %>
                    <form action=<%= product_update_status_path %> method="post" role="form">
                      <%= hidden_field_tag :product_id, product.id %>
                      <input type="hidden" id='status' name='status' value='0'>
                      <%= button_to "上架", product_update_status_path, method: :post, class:"btn btn-success pull-right" %>
                    </form>
                  <% end %>
                  <!-- 修改 -->
                  <%= link_to "修改", edit_product_path(product), class:"btn btn-primary pull-right", style: "margin-right: 20px;" %>
                <% end %>
              </div>
            </div>
            <br><br>
          </div>
        <% end %>
      </div>
    </div>

    <!-- 新增商品 -->
    <% if user_signed_in? && current_user.status == 1 %>
      <div class="col-md-12 column" style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #EEEEEE;">
        <%= link_to "新增商品", new_product_path, class:"btn btn-success pull-right" %>
      </div>
    <% end %>
  </div>
</div>